@import url(https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap);

/* base styles */
* {
  margin: 0;
  font-family: PT Serif, serif;
  color: #2b2d2f;
}

/* navbar styles */
.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0 auto;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 2rem;
  text-decoration: none;
  padding: 1rem;
}

.navbar a:hover {
  color: #524d4dfd;
}

/* content styles */
.content {
  padding: 2rem;
  margin: 20px auto;
  max-width: 600px;
}

/* blog preview styles */
.blog-preview {
  border-bottom: 1px solid #e2e2e2;
  padding: 0.8rem 0;
  margin: 0 1rem;
}

.blog-preview:hover {
  background-color: #f2f2f2;
}

.blog-preview h2 {
  color: #2b2d2fe1;
  font-size: 150%;
  margin-bottom: 0.4rem;
}

.blog-preview a {
  text-decoration: none;
}

/* Create new blog form */
.create {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  padding-top: 1rem;
}

.create h2 {
  font-size: 150%;
  margin-bottom: 1rem;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 0.5rem 0.8rem;
  margin: 10px 0;
  border: 1px solid #e2e2e2;
  display: block;
  box-sizing: border-box;
}

.create button {
  padding: 0.5rem;
  margin: 10px 0;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #2b2d2f;
  color: #fff;
  cursor: pointer;
}